{% extends "RedSocial/base.html" %}
{% block main %} 
<h1>Acerca de mi</h1>
<p>
    Mi nombre es Fabrizio Corazza tengo 21 años, en este momento de mi vida me encuentro en la estudiando Contador Publico en la Universidad Catolica de Argenina promediando los ultimos años y al mismo tiempo realizando un trabajo de forma de pasante sobre mi carrera. Elegi este curso para obtener conocimiento de lo que es la programacion ya que fue algo que siempre me gusto y me llamo la atencion. Me gusto mucho todo lo que hicimos en este curso y me gustaria seguir estudiando y dedicandome a la programacion con python. 
    <br>
    Muchas Gracias por todo, Saludos
</p>
{% endblock %}