{% extends "RedSocial/base.html" %}
{% block main %}    
<ul>
    <h1>Lista de Publicaciones</h1>

    {% if not object_list %}
        <h2>Actualmente no se encuentran posteos</h2>
    {% endif %}
    {% for post in object_list %}
    <li>
        {{post}} 
        <a href="{% url 'post-detail' post.id %}">Detalle</a>
        {% if user.is_authenticated and post.publisher == user %}
            <a href="{% url 'post-update' post.id %}">Actualizar</a>
            <a href="{% url 'post-delete' post.id %}">Borrar</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}